<!DOCTYPE html>
<html>
<head>
    <title>Counter Service Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1 class="main-title">Counter Service Application</h1>
        {% if counter == null and message != null : %}
        <h3>Successfully increment the counter</h3>
        {%elif counter == null and message == null %}
        <h3></h3>
        {% else %}
        <h3>POST Requests Count: {{ counter }}</h3>
        {% endif %}
        <form action="/post" method="post" class="form-button">
            <button type="submit" class="btn post-btn">Post</button>
        </form>
        <form action="/get" method="get" class="form-button">
            <button type="submit" class="btn post-btn">Get</button>
        </form>
    </div>
</body>
</html>
